img {
    max-width: 200px;
    max-height: 300px;
    border: 0.4rem solid black;
    padding: 5px;
    margin: 5px; 
    
    vertical-align: middle
}

div {
    max-width: 800px;
    margin: auto;
}

body {
    background-color: rgb(250, 250, 250);
}